$background1: #4BBBBC;
$background2: #575AA3;
$primary: #EA516E;
$secondary: #0D2232;
$warning: #F8EB5D;
$enable-negative-margins: true;

@import "bootstrap/bootstrap.scss";
@import "fonts/fonts.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');



body{
    font-family: 'Aktiv Grotesk Corp', sans-serif;
    color: #fff;
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Aktiv Grotesk Corp', sans-serif;
    font-weight: 500;
}

.principal{
    background: $primary;
    background-image: linear-gradient(180deg, $background1 0%, $primary 100%);
    background-size: 100%;
}

h2{
    font-size: 2.8em;
}

.features{
    background: $primary;

        h3{
            margin-top: 2.9em;
        }

        p{
            max-width: 380px;
        }
}

.labels{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

.ms-15{
    margin-left: 15%;
}

.cta{
    background: $primary;
    background-image: linear-gradient(180deg, $primary 0%, $background2 100%);
    background-size: 100%;
    padding: 4em 0;
    
    .carousel-indicators{
        margin-bottom: -3rem;
    }

    .carousel-indicators [data-bs-target]{
        width: 22px;
        height: 3px;
        border-radius: 100%;
        background: $warning;
    }
    
    .carousel-inner .carousel-itemimg {
        margin: auto;      
        }
}

.border-skew{
    background: $background2;
    height: 7.5em;
    position: relative;
    width: 100%;
    border:none;
}

.border-skew:after{
    background: inherit;
    background-image: url('../images/group-20.png');
    background-position: bottom -120px left -60px;
    background-repeat: no-repeat;
    bottom: 0;
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    transform: skewY(-3deg);
    transform-origin: 100%;
    width: 100%;

}

.contact{
    min-height: 618px;
    background-image: url('../images/bkg-hablamos.png');
    background-repeat: no-repeat;

    .row:first-child{
        padding: 16% 0 15% 0;
    }

    h2{
        font-size: 5em;
    }

    .foot{
        border-top: 2px solid #fff;
        max-height: 120px;

        .navbar-brand img{
            max-width: 80%;
        }

        .nav-link{
            font-size: 12px;
            margin-left: 20px;
        }
    }
}

.modal-content{
    background: $primary;
    background-image: linear-gradient(180deg, $background1 0%, $primary 100%);
    background-size: 100%;

    .modal-header, .modal-footer{
        border:none;
    }
}

.modal .fade .modal-dialog{
    -webkit-transform: translate(0,0);
    transform: translate(0,0);
  }
  
  .zoom-in {
    transform: scale(0)!important;
    opacity: 0;
    -webkit-transition: 1s all 0s;
    -moz-transition: 1s all 0s;
    -ms-transition: 1s all 0s;
    -o-transition: 1s all 0s;
    transition: 1s all 0s;
    display: block !important;
  }
  
  .zoom-in.show {
    opacity: 1;
    transform: scale(1)!important;
    transform:none;
  }
  
  



