$background1: #4BBBBC;
$background2: #575AA3;
$primary: #EA516E;
$secondary: #0D2232;
$warning: #F8EB5D;
$enable-negative-margins: true;

@import "bootstrap/bootstrap.scss";
@import "fonts/fonts.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');



body{
    font-family: 'Aktiv Grotesk Corp', sans-serif;
    color: #fff;
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Aktiv Grotesk Corp', sans-serif;
    font-weight: 500;
}

.principal{
    background: $primary;
    background-image: linear-gradient(180deg, $background1 0%, $primary 100%);
    background-size: 100%;
}

h2{
    font-size: 2.8em;
}

.features{
    background: $primary;

        h3{
            margin-top: 2.9em;
        }

        p{
            max-width: 380px;
        }
}

.labels{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

.ms-15{
    margin-left: 15%;
}

.cta{
    background: $primary;
    background-image: linear-gradient(180deg, $primary 0%, $background2 100%);
    background-size: 100%;
    padding: 4em 0;

    /*.border{
        height: 2em;
        position: relative;
        width: 100%;
    }

    .border:after{
        background: inherit;
  bottom: 0;
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  transform: skewY(-3deg);
  transform-origin: 100%;
  width: 100%;
  z-index: -1;
    }*/
    
}

.contact{
    min-height: 618px;
    background-image: url('../images/bkg-hablamos.png');
    margin-top: -50px;
    padding-top: 22%;

    h2{
        font-size: 5em;
    }
}




