$background1: #4BBBBC;
$background2: #EA516E;
$background3: #575AA3;
$primary: #0D2232;
$warning: #F8EB5D;
$enable-negative-margins: true;

@import "bootstrap/bootstrap.scss";
@import "fonts/fonts.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');



body{
    font-family: 'Aktiv Grotesk Corp', sans-serif;
    color: #fff;
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Aktiv Grotesk Corp', sans-serif;
    font-weight: 500;
}

.principal{
    background: $background2;
    background-image: linear-gradient(180deg, $background1 0%, $background2 100%);
    background-size: 100%;
}

h2{
    font-size: 2.8em;
}

.features{
    background: $background2;
    min-height: 824px;

        h3{
            margin-top: 2.9em;
        }

        p{
            max-width: 380px;
        }
}

.labels{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

.ms-15{
    margin-left: 15%;
}
